## Outline

* Linear models
* Binary logistic regression models


* Linear models
    * a binary predictor 
    * a categorical predictor
    * a numeric predictor
    * two categorical predictors
    * a categorical and a numeric predictor
    * two numeric predictors
* Binary logistic regression models
    * a binary predictor
    * a categorical predictor
    * a numeric predictor
    * two categorical predictors
    * a categorical and a numeric predictor
    * two numeric predictors

In [1]:
import pandas as pd
from pathlib import Path
data_folder = Path("../data/")

news = pd.read_csv(data_folder / "news.csv")
news.head()

,title,content,time,provider,url
0,「把25年前韓國瑜打人事件當英雄看」陳水扁批：吳敦義「災難政治學」的表現,國民黨主席吳敦義日前提到高雄市長候選人韓國瑜過去打陳水扁，表示「很認同跟敬佩」並形容「允文允...,2018-10-22 12:16:02+08:00,風傳媒,https://tw.news.yahoo.com/把25年前韓國瑜打人事件當英雄看-陳水扁...
1,【Yahoo論壇／林青弘】柯文哲是否一再說謊？,柯文哲市長在台北市北投區七星公園造勢，行動競選總部的大卡車開進公園，違規臨停。競辦被開罰六張...,2018-10-22 14:00:26+08:00,林青弘,https://tw.news.yahoo.com/【yahoo論壇%EF%BC%8F林青弘...
2,【Yahoo論壇】民進黨誰最怕陳其邁落選？,讀者投書：廖念漢（現任奇策盟文宣部主任、曾任海巡署專聘講師）\n 《長平之戰》是戰國時代最戲...,2018-10-22 13:57:44+08:00,讀者投書,https://tw.news.yahoo.com/【yahoo論壇】民進黨誰最怕陳其邁落選...
3,抽中籤王 韓國瑜車隊掃街 民眾路邊紛比讚,國民黨高雄市長候選人韓國瑜聲勢上漲，又抽中一號籤王，心情相當興奮，立即展開掃街拜，經過的地方...,2018-10-22 13:32:00+08:00,EBC東森新聞,https://tw.news.yahoo.com/抽中籤王-韓國瑜車隊掃街-民眾路邊紛比讚...
4,百年土地公上香祈福 陳學聖提五不原則,【綜合報導】普悠瑪列車出軌意外舉國震驚如同國難，令社會大眾、競選團隊及陳學聖本人都感到十分沉...,2018-10-22 13:17:44+08:00,民眾日報,https://tw.news.yahoo.com/百年土地公上香祈福-陳學聖提五不原則-0...

In [2]:
import jieba

In [3]:
a = news.content[0]
print(a)

國民黨主席吳敦義日前提到高雄市長候選人韓國瑜過去打陳水扁，表示「很認同跟敬佩」並形容「允文允武」。前總統陳水扁今（22）日在《新勇哥物語》質疑，這是「災難政治學」的表現，反批吳敦義以為高雄市長贏定了，得意忘形的囂張之情溢於言表。
《新勇哥物語》今天刊出，陳水扁借勇哥表示，不相信吳敦義會講鼓勵暴力的話，也不相信吳敦義主席會認為，當年韓國瑜公然在國會殿堂打阿扁打到住院是對的。
陳水扁指出，吳敦義的發言，是「災難政治學」的表現，他批評吳敦義還真的以為他提名韓國瑜參選高雄市長贏定了，得意忘形的囂張之情溢於言表，竟把25年前的打人事件拿出來捧為文武雙全的英雄看待。「是非不明，黑白不分，不是很可怕嗎？！」
陳水扁也在文中還原，1993年5月韓國瑜推倒他導致受傷住院，隔天有幫派份子聚集到立法院，衝突場面導致10多人受傷掛彩，韓國瑜遭到質疑找黑道兄弟助陣，風波一度越演越烈。韓國瑜後來也道歉，「我願意為我肢體衝突，向陳水扁委員致歉。」
陳水扁表示，當時他是在幫榮民講話，因為他對政府的榮民就養照護問題向退輔會提出質詢，認為「不能把榮民當豬養，不是說榮民是豬」。韓國瑜聽到「豬」就抓狂，這跟扁小時候家裡養豬賣錢供給讀書，生活經驗完全不同。（推薦閱讀：普悠瑪翻車慘劇》吳敦義籲所有九合一選舉候選人暫停選舉活動）
相關報導● 吳敦義因韓國瑜「打扁」才提名選高雄？段宜康酸：乾脆提名殺過人的！● 強力反擊韓國瑜 洪耀福：愛河水臭、自來水不能喝，這是吳敦義當市長時的高雄

In [4]:
b = jieba.cut(a)

In [5]:
from collections import Counter
c = Counter(b)

Building prefix dict from the default dictionary ...
Loading model from cache /var/folders/80/gbrxkvp9687cyvtdv78_5z3h0000gn/T/jieba.cache
Loading model cost 1.647 seconds.
Prefix dict has been built succesfully.

In [6]:
print(c)

Counter({'，': 29, '的': 11, '」': 9, '「': 9, '。': 8, '韓國瑜': 8, '陳': 6, '\n': 5, '水扁': 5, '他': 4, '在': 4, '也': 3, '：': 3, '為': 3, '是': 3, ' ': 3, '長': 3, '高雄市': 3, '提名': 3, '》': 3, '表示': 3, '主席': 2, '吳敦義': 2, '表現': 2, '質疑': 2, '言表': 2, '了': 2, '？': 2, '認為': 2, '相信': 2, '把': 2, '）': 2, '！': 2, '物語': 2, '之': 2, '住院': 2, '不': 2, '新勇哥': 2, '《': 2, '情溢': 2, '不是': 2, '●': 2, '囂張': 2, '到': 2, '就': 2, '政治': 2, '受傷': 2, '得意忘形': 2, '不能': 2, '（': 2, '向': 2, '學': 2, '這是': 2, '對': 2, '贏定': 2, '水': 2, '於': 2, '很': 2, '災難': 2, '暫停': 1, '他導致': 1, '宜康酸': 1, '選舉': 1, '榮民當': 1, '活動': 1, '市長': 1, '掛彩': 1, '選人': 1, '報導': 1, '借勇哥': 1, '時': 1, '榮民': 1, '吳敦義還': 1, '反批': 1, '當年': 1, '月': 1, '退': 1, '人': 1, '指出': 1, '文中': 1, '賣': 1, '刊出': 1, '強力': 1, '抓狂': 1, '跟': 1, '22': 1, '養豬': 1, '衝突場': 1, '並': 1, '輔會': 1, '殺過': 1, '反擊': 1, '看待': 1, '黑白不分': 1, '25': 1, '份子': 1, '兄弟': 1, '養照護': 1, '喝': 1, '問題': 1, '才': 1, '推薦': 1, '文武': 1, '推倒': 1, '話': 1, '5': 1, '敬佩': 1, '立法院': 1, '豬養': 1, '提到': 1, '合一': 1, '吳敦義當': 1, '候家裡': 1, '會': 1, '段': 1, '說榮民': 1, '認同': 1, '以為': 1, '我': 1, '衝突': 1, '前': 1, '雙全': 1, '自來': 1, '真的': 1, '來': 1, '是豬': 1, '形容': 1, '因為': 1, '道歉': 1, '普悠瑪': 1, '總統': 1, '候選人': 1, '是非': 1, '選舉候': 1, '講鼓勵': 1, '過去': 1, '有': 1, '不同': 1, '國民黨': 1, '拿出': 1, '隔天': 1, '、': 1, '選高雄': 1, '閱讀': 1, '經驗': 1, '扁': 1, '日': 1, '允文允武': 1, '供給': 1, '遭到': 1, '錢': 1, '10': 1, '英雄': 1, '還原': 1, '1993': 1, '暴力': 1, '風波': 1, '不明': 1, '高雄': 1, '今': 1, '打扁': 1, '年前': 1, '事件': 1, '多人': 1, '捧': 1, '幫派': 1, '韓國瑜後來': 1, '助陣': 1, '越演': 1, '聚集': 1, '參選': 1, '九': 1, '致歉': 1, '愛': 1, '今天': 1, '所有': 1, '我願意': 1, '提出': 1, '講話': 1, '幫榮民': 1, '吳敦義會': 1, '相關': 1, '黑道': 1, '這跟': 1, '國會': 1, '慘劇': 1, '找': 1, '聽': 1, '吳敦義因': 1, '越烈': 1, '豬': 1, '扁委員': 1, '扁小時': 1, '打陳水': 1, '打到': 1, '吳敦義的': 1, '竟': 1, '乾脆': 1, '面導致': 1, '打阿扁': 1, '可怕': 1, '打人': 1, '洪耀福': 1, '批評': 1, '當時': 1, '發言': 1, '公然': 1, '河水': 1, '肢體': 1, '讀書': 1, '質詢': 1, '日前': 1, '吳敦義籲': 1, '完全': 1, '臭': 1, '生活': 1, '吳敦義以': 1, '殿堂': 1, '年': 1, '一度': 1, '翻車': 1, '政府': 1, '嗎': 1})

In [7]:
pd.Series(c)

\n        5
          3
10        1
1993      1
22        1
25        1
5         1
●         2
、         1
。         8
《         2
》         3
「         9
」         9
一度        1
不         2
不同        1
不明        1
不是        2
不能        2
並         1
主席        2
之         2
九         1
也         3
乾脆        1
了         2
事件        1
人         1
今         1
         ..
過去        1
道歉        1
遭到        1
選人        1
選舉        1
選舉候       1
選高雄       1
還原        1
錢         1
長         3
閱讀        1
陳         6
隔天        1
雙全        1
面導致       1
韓國瑜       8
韓國瑜後來     1
風波        1
養照護       1
養豬        1
高雄        1
高雄市       3
黑白不分      1
黑道        1
！         2
（         2
）         2
，        29
：         3
？         2
Length: 223, dtype: int64

In [8]:
def word_frequency(text):
    words = jieba.cut(text)
    word_freq = Counter(words)
    return pd.Series(word_freq)

In [9]:
selected_news = news.loc[news.provider.isin(['中央社','聯合新聞網']), ['content','provider']]

In [10]:
selected_news_word_freq = selected_news.content.apply(word_frequency)

In [11]:
selected_news_word_freq.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 14 to 119
Columns: 2638 entries,
 to 高雄為
dtypes: float64(2638)
memory usage: 556.7 KB

In [12]:
selected_news_word_freq.head()

,,,!,10,2018,5,6,7,Yahoo,udn,...,顧輔導,鼓掌,傳真,南下,想法,決定,禿頭,資深,音樂人,高雄為
14,8.0,4.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,9.0,4.0,NaN,1.0,1.0,NaN,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,11.0,5.0,NaN,1.0,1.0,NaN,1.0,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,9.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
selected_news_word_freq = selected_news_word_freq.fillna(0)

In [14]:
selected_news_data = pd.concat([selected_news_word_freq, selected_news.provider], axis=1)

In [15]:
import sklearn
print(sklearn.__version__)

0.20.0

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    selected_news_data.drop('provider', axis=1), 
    selected_news_data[['provider']],
    test_size=0.3, 
    random_state=7)

In [17]:
y_train

    provider
73       中央社
74       中央社
119      中央社
14     聯合新聞網
109      中央社
49       中央社
97     聯合新聞網
107      中央社
72       中央社
96     聯合新聞網
58       中央社
90     聯合新聞網
50       中央社
95     聯合新聞網
32       中央社
98     聯合新聞網
33       中央社
91     聯合新聞網

In [18]:
X_test

,,,!,10,2018,5,6,7,Yahoo,udn,...,顧輔導,鼓掌,傳真,南下,想法,決定,禿頭,資深,音樂人,高雄為
16,11.0,5.0,0.0,1.0,1.0,0.0,1.0,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
71,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,9.0,4.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,9.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,12.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77,5.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,10.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94,8.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train.provider.values)

/Users/ignacio/anaconda3/lib/python3.5/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [20]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test.provider.values, lr.predict(X_test))

0.7777777777777778

In [21]:
y_test.provider.values

array(['聯合新聞網', '中央社', '聯合新聞網', '中央社', '聯合新聞網', '聯合新聞網', '中央社', '聯合新聞網',
       '聯合新聞網'], dtype=object)

In [22]:
lr.predict(X_test)

array(['中央社', '中央社', '中央社', '中央社', '聯合新聞網', '聯合新聞網', '中央社', '聯合新聞網',
       '聯合新聞網'], dtype=object)

In [23]:
X_test

,,,!,10,2018,5,6,7,Yahoo,udn,...,顧輔導,鼓掌,傳真,南下,想法,決定,禿頭,資深,音樂人,高雄為
16,11.0,5.0,0.0,1.0,1.0,0.0,1.0,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
71,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,9.0,4.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,9.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,12.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77,5.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,10.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94,8.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0